.root {
  background-color: #F3F3F3;
}

.root ul {
  margin-left: 1rem;
}

.rootInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
  max-width: 1100px;
  margin: 0 auto;
}

.main {
  margin-top: 1rem;
  background-color: #ffffff;
  padding: 2rem;
  padding-top: 0rem;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.heroTitle {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.heroSubtitle {
  margin-top: 0;
}

.heroLeft {
  margin-right: 2rem;
  width: 600px;
}

.imageContainer {
  width: 220px;
}

.image {
  width: 100%;
  height: auto;
}

.goToContactFormButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.goToContactFormButton {
  max-width: 100%;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

.goToContactFormButton *:first-child {
  font-size: 1.1em;
}

.sectionDivider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logoContainer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.bigImage {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.caption {
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.serviceFlowChart {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceCard {
  width: 400px;
}

.serviceCardTitle {
  margin-bottom: 1rem;
}

.arrowImage {
  width: 80px;
  height: auto;
  margin-bottom: 2px;
}

.serviceCardList {
  margin-bottom: 0;
}

.aboutMe {
  display: flex;
  flex-direction: row;
}

.myFacePhoto {
  margin-left: 1rem;
  width: 100px;
  height: 100px;
  clip-path: circle();
}

.contactForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  max-width: 400px;
}

.contactFormField {
  margin-bottom: 1rem;
}

.contactFormButton {
  max-width: 150px;
}

.footerDivider {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #ccc;
}

.contactItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.7em;
}

.contactItemIcon {
  margin-right: 0.1rem;
  height: 0.6em;
}

/* Small tablet */
@media (max-width: 1100px) {
  .main {
    padding: 0.5rem;
    font-size: 90%;
    max-width: 700px;
  }

  .hero {
    flex-wrap: wrap;
  }

  .heroLeft {
    width: 100%;
  }

  .heroRight {
    width: 100%;
  }

  .heroRight {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rootInner {
    padding: 1rem;
  }
}
